Repository RedHatCRE/cibyl, pull requests merged in 2022-09, with the labels that each got.

#423 JJB source
  cibyl/plugins/openstack/sources/jenkins_job_builder.py
  cibyl/sources/jenkins_job_builder.py
  cibyl/sources/source_factory.py
  tests/cibyl/unit/plugins/openstack/sources/test_jenkins_job_builder.py
Labels: Sources :mag:

#491 Add missing value to some features
  cibyl/plugins/openstack/features/ironic.py
  cibyl/plugins/openstack/features/network.py
  cibyl/plugins/openstack/features/security.py
  tox.ini
Labels: bug :bug:, Features

#493 Facing the configuration file against a JSON schema.
  cibyl/_data/schemas/config.json
  cibyl/_data/schemas/zuul/ansible_test.json
  cibyl/config.py
  cibyl/exceptions/config.py
  cibyl/utils/fs.py
  docs/source/config_samples/disabled_configuration.rst
  docs/source/config_samples/disabled_configuration.yaml
  docs/source/config_samples/elasticsearch_configuration.rst
  docs/source/config_samples/elasticsearch_configuration.yaml
  docs/source/config_samples/full_configuration.rst
  docs/source/config_samples/full_configuration.yaml
  docs/source/config_samples/jjb_configuration.rst
  docs/source/config_samples/jjb_configuration.yaml
  docs/source/config_samples/minimal_configuration.rst
  docs/source/config_samples/minimal_configuration.yaml
  docs/source/config_samples/zuul_api_configuration.rst
  docs/source/config_samples/zuul_api_configuration.yaml
  docs/source/config_samples/zuul_definitions_local_configuration.rst
  docs/source/config_samples/zuul_definitions_local_configuration.yaml
  docs/source/config_samples/zuul_definitions_remote_configuration.rst
  docs/source/config_samples/zuul_definitions_remote_configuration.yaml
  tests/cibyl/e2e/test_config.py
Labels: Config :floppy_disk:

#494 Fixed a bug where 'enabled' on envs and systems broke cibyl
  cibyl/_data/schemas/config.json
  cibyl/config.py
  tests/cibyl/e2e/test_config.py
Labels: bug :bug:

#497 Fixing a bug where variants with a branch pattern would fail to fetch their spec
  cibyl/sources/zuul/utils/variants/hierarchy.py
Labels: bug :bug:

#499 Removing multiple inheritance from serializing printers
  cibyl/outputs/cli/ci/_docs/printing/colored.puml
  cibyl/outputs/cli/ci/_docs/printing/serialized.puml
  cibyl/outputs/cli/ci/env/impl/serialized.py
  cibyl/outputs/cli/ci/env/printer.py
  cibyl/outputs/cli/ci/system/common/models.py
  cibyl/outputs/cli/ci/system/impls/base/colored.py
  cibyl/outputs/cli/ci/system/impls/base/serialized.py
  cibyl/outputs/cli/ci/system/impls/jobs/serialized.py
  cibyl/outputs/cli/ci/system/impls/zuul/serialized.py
  cibyl/outputs/cli/ci/system/printer.py
  cibyl/outputs/cli/printer.py
  cibyl/plugins/__init__.py
  cibyl/plugins/openstack/printers/__init__.py
  cibyl/plugins/openstack/printers/colored.py
  cibyl/plugins/openstack/printers/router.py
  cibyl/plugins/openstack/printers/serialized.py
  cibyl/publisher.py
  tests/cibyl/unit/plugins/openstack/printers/test_json.py
  tests/cibyl/unit/test_publisher.py
Labels: enhancement :bulb:

#500 Fix crash while retrieving a job's spec
  cibyl/sources/zuul/utils/variants/hierarchy.py
  tests/cibyl/unit/sources/zuul/utils/variants/test_hierarchy.py
Labels: bug :bug:

#501 Add docs page for cibyl output for user and devs
  cibyl/plugins/openstack/printers/_docs/osp_printer.puml
  docs/source/colored_printer.png
  docs/source/development/output.rst
  docs/source/images/cibyl_printing.png
  docs/source/images/colored_printer.png
  docs/source/images/osp_printer.png
  docs/source/images/serialized_printer.png
  docs/source/index.rst
  docs/source/output.rst
  docs/source/serialized_printer.png
  docs/source/usage/cli.rst
Labels: Docs :book:

#506 Fixing null pointer for variants that have no context
  cibyl/sources/zuul/transactions/__init__.py
Labels: bug :bug:

#507 Fixing a bug where the Zuul source crashed when features where requested.
  cibyl/plugins/openstack/sources/zuul/actions.py
Labels: bug :bug:

#511 Fix exception subclass for source-related error
  cibyl/sources/zuul/utils/variants/hierarchy.py
Labels: bug :bug:, Sources :mag:

#510 Always print duration in the same format and units
  cibyl/outputs/cli/ci/system/common/builds.py
  cibyl/outputs/cli/ci/system/impls/jobs/colored.py
  cibyl/outputs/cli/ci/system/impls/zuul/colored.py
  cibyl/utils/time.py
  tests/cibyl/e2e/test_jenkins.py
  tests/cibyl/unit/outputs/cli/ci/system/common/test_builds.py
Labels: Output :pencil:

#512 Update bootstrap page in the documentation
  docs/source/bootstrap.rst
  docs/source/conf.py
Labels: Docs :book:

#492 jjb get_release and get_cinder_backend
  cibyl/plugins/openstack/sources/jenkins_job_builder.py
  tests/cibyl/unit/plugins/openstack/sources/test_jenkins_job_builder.py
Labels: Sources :mag:

#516 Make filtering functions more robust
  cibyl/utils/filtering.py
Labels: bug :bug:

#517 JJB - v1.0 critical tickets
  cibyl/plugins/openstack/sources/jenkins_job_builder.py
  tests/cibyl/unit/plugins/openstack/sources/test_jenkins_job_builder.py
Labels: Sources :mag:, Plugins :electric_plug:

#519 Support filtering by test class name in Jenkins
  cibyl/models/ci/base/build.py
  cibyl/models/ci/zuul/build.py
  cibyl/sources/jenkins.py
  docs/source/usage/cli.rst
Labels: Sources :mag:

#521 Expose class name in Zuul tests
  cibyl/models/ci/zuul/test.py
  cibyl/outputs/cli/ci/system/impls/zuul/colored.py
  cibyl/outputs/cli/ci/system/impls/zuul/serialized.py
  cibyl/sources/zuul/output.py
  cibyl/sources/zuul/transactions/__init__.py
Labels: Models, Sources :mag:

#520 Support filtering by class name in Elasticsearch
  cibyl/sources/elasticsearch/api.py
Labels: Sources :mag:

#522 Support filtering by class name in Zuul
  cibyl/sources/zuul/transactions/__init__.py
  tests/cibyl/unit/sources/zuul/test_transactions.py
Labels: Sources :mag:
