Repository RedHatCRE/cibyl, pull requests merged in 2022-11, with the labels that each got.

#539 Reintroduce methods missed from refactor
  kernel/tools/fs.py
  tests/cibyl/e2e/test_jenkins.py
Labels: bug :bug:

#543 Support --glance-backend in Jenkins source
  cibyl/plugins/openstack/sources/jenkins.py
  docs/source/plugins/openstack.rst
  tests/cibyl/e2e/test_jenkins.py
  tests/cibyl/unit/plugins/openstack/sources/test_jenkins.py
Labels: Sources :mag:, Plugins :electric_plug:

#545 Support --manila-backend in Jenkins source
  cibyl/plugins/openstack/__init__.py
  cibyl/plugins/openstack/printers/colored.py
  cibyl/plugins/openstack/sources/jenkins.py
  cibyl/plugins/openstack/storage.py
  docs/source/plugins/openstack.rst
  tests/cibyl/e2e/test_jenkins.py
  tests/cibyl/unit/plugins/openstack/sources/test_jenkins.py
Labels: Sources :mag:, Plugins :electric_plug:

#556 Fixing workflow badges
  README.rst
Labels: Docs :book:

#558 Use new elasticsearch index for get_jobs
  cibyl/sources/elasticsearch/api.py
Labels: Sources :mag:
