Repository RedHatCRE/cibyl, pull requests merged in 2022-08, with the labels that each got.

#439 Adding a utility to download the manifest from a Zuul build
  cibyl/_data/json/schemas/zuul/manifest.json
  cibyl/_data/schemas/zuul/ansible_test.json
  cibyl/sources/zuul/apis/utils/artifacts/__init__.py
  cibyl/sources/zuul/apis/utils/artifacts/manifest.py
  cibyl/sources/zuul/apis/utils/builds/__init__.py
  cibyl/utils/fs.py
  requirements.txt
  tests/cibyl/unit/sources/zuul/apis/utils/__init__.py
  tests/cibyl/unit/sources/zuul/apis/utils/artifacts/__init__.py
  tests/cibyl/unit/sources/zuul/apis/utils/artifacts/test_manifest.py
  tests/cibyl/unit/sources/zuul/apis/utils/tests/__init__.py
  tests/cibyl/unit/sources/zuul/apis/utils/tests/test_ansible.py
Labels: Zuul

#435 Fix bug unable to find tripleo schemas outside repo
  tests/tripleo/intr/insights/test_interpreters.py
  tripleo/insights/interpreters.py
  tripleo/utils/fs.py
Labels: bug :bug:

#440 Expand and update configuration page in documentation
  docs/source/config_samples/zuul_api_configuration.rst
  docs/source/configuration.rst
  docs/source/sources/elasticsearch.rst
Labels: Docs :book:

#446 Update parser docs page with changes in orchestrator
  docs/source/parser.rst
Labels: Docs :book:

#449 Move source setup inside try/except in orchestrator
  cibyl/orchestrator.py
  tests/cibyl/intr/test_orchestrator.py
Labels: bug :bug:, Core

#451 Retrieving test cases through the Zuul API
  cibyl/sources/zuul/apis/__init__.py
  cibyl/sources/zuul/apis/http.py
  cibyl/sources/zuul/apis/rest.py
  cibyl/sources/zuul/utils/artifacts/manifest.py
  cibyl/sources/zuul/utils/tests/finder.py
  cibyl/sources/zuul/utils/tests/tempest/finder.py
  cibyl/sources/zuul/utils/tests/tempest/parser.py
Labels: Zuul

#453 Add tripleo library to Dockerfile
  Dockerfile
Labels: bug :bug:

#454 Reworking the way queries are performed on a Zuul source.
  cibyl/cli/query.py
  cibyl/plugins/openstack/sources/zuul/actions.py
  cibyl/sources/zuul/actions.py
  cibyl/sources/zuul/managers/__init__.py
  cibyl/sources/zuul/managers/factory.py
  cibyl/sources/zuul/managers/verbose.py
  cibyl/sources/zuul/output.py
  cibyl/sources/zuul/queries/builds.py
  cibyl/sources/zuul/queries/jobs.py
  cibyl/sources/zuul/queries/pipelines.py
  cibyl/sources/zuul/queries/projects.py
  cibyl/sources/zuul/queries/tenants.py
  cibyl/sources/zuul/queries/variants.py
  cibyl/sources/zuul/source.py
  tests/cibyl/intr/sources/zuul/test_query.py
  tests/cibyl/unit/cli/test_query.py
Labels: Zuul

#452 Add query and features subcommands to cibyl
  cibyl/cli/main.py
  cibyl/cli/parser.py
  cibyl/cli/query.py
  cibyl/models/ci/base/system.py
  cibyl/orchestrator.py
  tests/cibyl/e2e/test_config.py
  tests/cibyl/e2e/test_elasticsearch.py
  tests/cibyl/e2e/test_jenkins.py
  tests/cibyl/e2e/test_zuul.py
  tests/cibyl/intr/cli/test_config.py
  tests/cibyl/intr/cli/test_openstack_plugin.py
  tests/cibyl/intr/test_orchestrator.py
  tests/cibyl/unit/cli/test_parser.py
  tests/cibyl/unit/cli/test_query.py
  tests/cibyl/unit/test_orchestrator.py
Labels: enhancement :bulb:, Core

#455 Update documentation about cli and --jobs for features
  README.rst
  cibyl/cli/parser.py
  docs/source/bootstrap.rst
  docs/source/development/features.rst
  docs/source/features.rst
  docs/source/parser.rst
  docs/source/plugins/openstack.rst
  docs/source/usage.rst
  docs/source/usage/cli.rst
  tests/tripleo/intr/utils/git/test_gitpython.py
  tests/tripleo/intr/utils/github/test_pygithub.py
Labels: Docs :book:

#456 Add spec subcommand and update documentation
  cibyl/cli/parser.py
  cibyl/plugins/openstack/__init__.py
  docs/source/plugins/openstack.rst
  docs/source/usage/cli.rst
  tests/cibyl/intr/test_orchestrator.py
  tests/tripleo/intr/utils/git/test_gitpython.py
  tests/tripleo/intr/utils/github/test_pygithub.py
Labels: Core, Docs :book:

#457 Add mechanism to add subcommands from plugins
  cibyl/cli/main.py
  cibyl/cli/parser.py
  cibyl/plugins/__init__.py
  cibyl/plugins/openstack/__init__.py
  tests/cibyl/unit/plugins/test_plugin.py
Labels: Core, Plugins :electric_plug:

#458 Enable e2e tests in github actions
  .github/workflows/pipeline.yaml
  tests/cibyl/e2e/containers/zuul.py
  tox.ini
Labels: Tests

#459 Adding transaction for Zuul tests
  cibyl/sources/zuul/transactions/__init__.py
  tests/cibyl/unit/sources/zuul/test_transactions.py
Labels: Sources :mag:, Zuul

#460 Add e2e tests for Jenkins source core methods
  tests/cibyl/e2e/containers/jenkins.py
  tests/cibyl/e2e/data/images/jenkins/Dockerfile
  tests/cibyl/e2e/data/images/jenkins/docker-compose_jenkins_core.yml
  tests/cibyl/e2e/data/images/jenkins/jenkins_envs/jenkins_core_models/env.yml
  tests/cibyl/e2e/data/images/jenkins/jenkins_envs/jenkins_core_models/jobs/config.xml
  tests/cibyl/e2e/data/images/jenkins/jenkins_envs/jenkins_core_models/jobs/nextBuildNumber
  tests/cibyl/e2e/data/images/jenkins/jenkins_envs/jenkins_core_models/jobs/test_1/builds/1/build.xml
  tests/cibyl/e2e/data/images/jenkins/jenkins_envs/jenkins_core_models/jobs/test_1/builds/1/changelog.xml
  tests/cibyl/e2e/data/images/jenkins/jenkins_envs/jenkins_core_models/jobs/test_1/builds/1/log
  tests/cibyl/e2e/data/images/jenkins/jenkins_envs/jenkins_core_models/jobs/test_1/builds/2/build.xml
  tests/cibyl/e2e/data/images/jenkins/jenkins_envs/jenkins_core_models/jobs/test_1/builds/2/changelog.xml
  tests/cibyl/e2e/data/images/jenkins/jenkins_envs/jenkins_core_models/jobs/test_1/builds/2/junitResult.xml
  tests/cibyl/e2e/data/images/jenkins/jenkins_envs/jenkins_core_models/jobs/test_1/builds/2/log
  tests/cibyl/e2e/data/images/jenkins/jenkins_envs/jenkins_core_models/jobs/test_1/builds/permalinks
  tests/cibyl/e2e/data/images/jenkins/jenkins_envs/jenkins_core_models/jobs/test_1/config.xml
  tests/cibyl/e2e/data/images/jenkins/jenkins_envs/jenkins_core_models/jobs/test_1/nextBuildNumber
  tests/cibyl/e2e/data/images/jenkins/jenkins_envs/jenkins_core_models/jobs/test_2/builds/1/build.xml
  tests/cibyl/e2e/data/images/jenkins/jenkins_envs/jenkins_core_models/jobs/test_2/builds/1/changelog.xml
  tests/cibyl/e2e/data/images/jenkins/jenkins_envs/jenkins_core_models/jobs/test_2/builds/1/log
  tests/cibyl/e2e/data/images/jenkins/jenkins_envs/jenkins_core_models/jobs/test_2/builds/2/build.xml
  tests/cibyl/e2e/data/images/jenkins/jenkins_envs/jenkins_core_models/jobs/test_2/builds/2/changelog.xml
  tests/cibyl/e2e/data/images/jenkins/jenkins_envs/jenkins_core_models/jobs/test_2/builds/2/junitResult.xml
  tests/cibyl/e2e/data/images/jenkins/jenkins_envs/jenkins_core_models/jobs/test_2/builds/2/log
  tests/cibyl/e2e/data/images/jenkins/jenkins_envs/jenkins_core_models/jobs/test_2/builds/permalinks
  tests/cibyl/e2e/data/images/jenkins/jenkins_envs/jenkins_core_models/jobs/test_2/config.xml
  tests/cibyl/e2e/data/images/jenkins/jenkins_envs/jenkins_core_models/jobs/test_2/nextBuildNumber
  tests/cibyl/e2e/data/images/jenkins/jenkins_envs/jenkins_core_models/jobs/test_3/builds/1/build.xml
  tests/cibyl/e2e/data/images/jenkins/jenkins_envs/jenkins_core_models/jobs/test_3/builds/1/changelog.xml
  tests/cibyl/e2e/data/images/jenkins/jenkins_envs/jenkins_core_models/jobs/test_3/builds/1/log
  tests/cibyl/e2e/data/images/jenkins/jenkins_envs/jenkins_core_models/jobs/test_3/builds/permalinks
  tests/cibyl/e2e/data/images/jenkins/jenkins_envs/jenkins_core_models/jobs/test_3/config.xml
  tests/cibyl/e2e/data/images/jenkins/jenkins_envs/jenkins_core_models/jobs/test_3/nextBuildNumber
  tests/cibyl/e2e/data/images/jenkins/jenkins_envs/jenkins_core_models/jobs/test_4/builds/permalinks
  tests/cibyl/e2e/data/images/jenkins/jenkins_envs/jenkins_core_models/jobs/test_4/config.xml
  tests/cibyl/e2e/data/images/jenkins/jenkins_envs/jenkins_core_models/jobs/test_4/nextBuildNumber
  tests/cibyl/e2e/data/images/jenkins/jenkins_envs/none/README.txt
  tests/cibyl/e2e/data/images/jenkins/jenkins_envs/none/jobs/README.txt
  tests/cibyl/e2e/test_jenkins.py
  tests/cibyl/e2e/utils/create_jenkins_env.py
Labels: Tests

#461 Adding query for tests on Zuul source
  cibyl/models/ci/zuul/test.py
  cibyl/sources/zuul/queries/tests.py
  cibyl/sources/zuul/transactions/__init__.py
  cibyl/utils/filtering.py
  requirements.txt
  test-requirements.txt
  tests/cibyl/unit/sources/zuul/queries/__init__.py
  tests/cibyl/unit/sources/zuul/queries/test_tests.py
  tests/cibyl/unit/sources/zuul/test_transactions.py
Labels: Sources :mag:, Zuul

#462 Adding 'get_tests' to Zuul source
  cibyl/sources/zuul/managers/verbose.py
  cibyl/sources/zuul/output.py
  cibyl/sources/zuul/source.py
Labels: Sources :mag:, Zuul

#463 Generating test models as part of Cibyl's output
  cibyl/models/ci/base/test.py
  cibyl/models/ci/zuul/build.py
  cibyl/models/ci/zuul/test.py
  cibyl/models/ci/zuul/test_suite.py
  cibyl/sources/zuul/output.py
  tests/cibyl/unit/models/ci/zuul/test_build.py
  tests/cibyl/unit/models/ci/zuul/test_test_suite.py
Labels: Sources :mag:, Zuul

#464 Printing tests as part of a Zuul source output
  cibyl/models/ci/zuul/test.py
  cibyl/models/ci/zuul/tests/__init__.py
  cibyl/models/ci/zuul/tests/ansible.py
  cibyl/models/ci/zuul/tests/tempest.py
  cibyl/outputs/cli/ci/system/impls/zuul/colored.py
  tests/cibyl/unit/models/ci/zuul/tests/__init__.py
  tests/cibyl/unit/models/ci/zuul/tests/test_ansible.py
  tests/cibyl/unit/models/ci/zuul/tests/test_tempest.py
Labels: Sources :mag:, Zuul

#467 Fix bug query for ip_version in Jenkins
  cibyl/plugins/openstack/sources/jenkins.py
  tests/cibyl/unit/plugins/openstack/sources/test_jenkins.py
Labels: bug :bug:, Plugins :electric_plug:

#466 Adding query composers for Zuul source
  cibyl/sources/zuul/queries/composition/__init__.py
  cibyl/sources/zuul/queries/composition/factory.py
  cibyl/sources/zuul/queries/composition/quick.py
  cibyl/sources/zuul/queries/composition/verbose.py
  tests/cibyl/unit/sources/zuul/queries/composition/__init__.py
  tests/cibyl/unit/sources/zuul/queries/composition/test_quick.py
  tests/cibyl/unit/sources/zuul/queries/composition/test_verbose.py
Labels: Sources :mag:, Zuul

#470 Filter by release using regex in Jenkins
  cibyl/plugins/openstack/sources/jenkins.py
  tests/cibyl/unit/plugins/openstack/sources/test_jenkins.py
Labels: Sources :mag:, Plugins :electric_plug:

#471 Update openstack args matrix for zuul
  docs/source/plugins/openstack.rst
Labels: Docs :book:

#472 Add e2e jenkins testing environment for openstack
  tests/cibyl/e2e/data/images/jenkins/Dockerfile
  tests/cibyl/e2e/data/images/jenkins/docker-compose_jenkins_openstack.yml
  tests/cibyl/e2e/data/images/jenkins/jenkins_envs/jenkins_openstack/env.yml
  tests/cibyl/e2e/data/images/jenkins/jenkins_envs/jenkins_openstack/jobs/test_1/builds/1/build.xml
  tests/cibyl/e2e/data/images/jenkins/jenkins_envs/jenkins_openstack/jobs/test_1/builds/1/changelog.xml
  tests/cibyl/e2e/data/images/jenkins/jenkins_envs/jenkins_openstack/jobs/test_1/builds/1/log
  tests/cibyl/e2e/data/images/jenkins/jenkins_envs/jenkins_openstack/jobs/test_1/builds/2/build.xml
  tests/cibyl/e2e/data/images/jenkins/jenkins_envs/jenkins_openstack/jobs/test_1/builds/2/changelog.xml
  tests/cibyl/e2e/data/images/jenkins/jenkins_envs/jenkins_openstack/jobs/test_1/builds/2/junitResult.xml
  tests/cibyl/e2e/data/images/jenkins/jenkins_envs/jenkins_openstack/jobs/test_1/builds/2/log
  tests/cibyl/e2e/data/images/jenkins/jenkins_envs/jenkins_openstack/jobs/test_1/builds/permalinks
  tests/cibyl/e2e/data/images/jenkins/jenkins_envs/jenkins_openstack/jobs/test_1/config.xml
  tests/cibyl/e2e/data/images/jenkins/jenkins_envs/jenkins_openstack/jobs/test_1/nextBuildNumber
  tests/cibyl/e2e/data/images/jenkins/jenkins_envs/jenkins_openstack/jobs/test_2/builds/1/build.xml
  tests/cibyl/e2e/data/images/jenkins/jenkins_envs/jenkins_openstack/jobs/test_2/builds/1/changelog.xml
  tests/cibyl/e2e/data/images/jenkins/jenkins_envs/jenkins_openstack/jobs/test_2/builds/1/log
  tests/cibyl/e2e/data/images/jenkins/jenkins_envs/jenkins_openstack/jobs/test_2/builds/2/build.xml
  tests/cibyl/e2e/data/images/jenkins/jenkins_envs/jenkins_openstack/jobs/test_2/builds/2/changelog.xml
  tests/cibyl/e2e/data/images/jenkins/jenkins_envs/jenkins_openstack/jobs/test_2/builds/2/junitResult.xml
  tests/cibyl/e2e/data/images/jenkins/jenkins_envs/jenkins_openstack/jobs/test_2/builds/2/log
  tests/cibyl/e2e/data/images/jenkins/jenkins_envs/jenkins_openstack/jobs/test_2/builds/permalinks
  tests/cibyl/e2e/data/images/jenkins/jenkins_envs/jenkins_openstack/jobs/test_2/config.xml
  tests/cibyl/e2e/data/images/jenkins/jenkins_envs/jenkins_openstack/jobs/test_2/nextBuildNumber
  tests/cibyl/e2e/data/images/jenkins/jenkins_envs/jenkins_openstack/jobs/test_3/builds/1/build.xml
  tests/cibyl/e2e/data/images/jenkins/jenkins_envs/jenkins_openstack/jobs/test_3/builds/1/changelog.xml
  tests/cibyl/e2e/data/images/jenkins/jenkins_envs/jenkins_openstack/jobs/test_3/builds/1/log
  tests/cibyl/e2e/data/images/jenkins/jenkins_envs/jenkins_openstack/jobs/test_3/builds/permalinks
  tests/cibyl/e2e/data/images/jenkins/jenkins_envs/jenkins_openstack/jobs/test_3/config.xml
  tests/cibyl/e2e/data/images/jenkins/jenkins_envs/jenkins_openstack/jobs/test_3/nextBuildNumber
  tests/cibyl/e2e/data/images/jenkins/jenkins_envs/jenkins_openstack/jobs/test_4/builds/permalinks
  tests/cibyl/e2e/data/images/jenkins/jenkins_envs/jenkins_openstack/jobs/test_4/config.xml
  tests/cibyl/e2e/data/images/jenkins/jenkins_envs/jenkins_openstack/jobs/test_4/nextBuildNumber
  tests/cibyl/e2e/data/images/jenkins/openstack_httpd/Dockerfile
  tests/cibyl/e2e/data/images/jenkins/openstack_httpd/openstack_logs.yml
  tests/cibyl/e2e/data/images/jenkins/openstack_httpd/public/test_1/2/infrared/overcloud-install.yml
  tests/cibyl/e2e/data/images/jenkins/openstack_httpd/public/test_1/2/infrared/provision.yml
  tests/cibyl/e2e/data/images/jenkins/openstack_httpd/public/test_1/2/infrared/test.yml
  tests/cibyl/e2e/data/images/jenkins/openstack_httpd/public/test_2/2/infrared/overcloud-install.yml
  tests/cibyl/e2e/data/images/jenkins/openstack_httpd/public/test_2/2/infrared/provision.yml
  tests/cibyl/e2e/data/images/jenkins/openstack_httpd/public/test_2/2/infrared/test.yml
  tests/cibyl/e2e/test_jenkins.py
  tests/cibyl/e2e/utils/create_jenkins_env.py
  tests/cibyl/e2e/utils/create_openstack_logs.py
  tests/cibyl/unit/plugins/openstack/sources/test_jenkins.py
Labels: Tests

#475 Separate e2e step in CI
  .github/workflows/pipeline.yaml
  tox.ini
Labels: Tests

#473 Adding OpenStack deployment as part of the JSON output
  cibyl/models/model.py
  cibyl/outputs/cli/ci/env/factory.py
  cibyl/outputs/cli/ci/env/impl/serialized.py
  cibyl/outputs/cli/ci/system/common/models.py
  cibyl/outputs/cli/ci/system/impls/base/serialized.py
  cibyl/outputs/cli/ci/system/impls/jobs/colored.py
  cibyl/outputs/cli/ci/system/impls/jobs/serialized.py
  cibyl/outputs/cli/ci/system/impls/zuul/colored.py
  cibyl/outputs/cli/printer.py
  cibyl/plugins/__init__.py
  cibyl/plugins/openstack/__init__.py
  cibyl/plugins/openstack/printers/__init__.py
  cibyl/plugins/openstack/printers/router.py
  cibyl/plugins/openstack/printers/serialized.py
  tests/cibyl/unit/outputs/cli/ci/env/impls/test_serialized.py
  tests/cibyl/unit/outputs/cli/ci/system/common/test_models.py
Labels: Output :pencil:

#474 Small fixes for openstack jenkins source
  cibyl/plugins/openstack/printers/colored.py
  cibyl/plugins/openstack/sources/jenkins.py
  tests/cibyl/unit/plugins/openstack/sources/test_jenkins.py
  tox.ini
Labels: bug :bug:

#477 Allowing output to be saved into a file.
  cibyl/cli/main.py
  cibyl/cli/parser.py
  cibyl/orchestrator.py
  cibyl/publisher.py
  cibyl/utils/fs.py
  cibyl/utils/paths.py
  tests/cibyl/unit/test_publisher.py
Labels: Output :pencil:

#478 Sort templates and tests in spec for consistency
  cibyl/plugins/openstack/printers/colored.py
Labels: Output :pencil:

#476 Adding support for JSON format on Zuul source
  cibyl/outputs/cli/ci/env/impl/serialized.py
  cibyl/outputs/cli/ci/system/impls/base/colored.py
  cibyl/outputs/cli/ci/system/impls/base/serialized.py
  cibyl/outputs/cli/ci/system/impls/zuul/serialized.py
  cibyl/outputs/cli/ci/system/printer.py
  cibyl/plugins/openstack/printers/serialized.py
Labels: Output :pencil:

#482 Filter topology with regex in Jenkins source
  cibyl/plugins/openstack/sources/jenkins.py
  tests/cibyl/e2e/test_jenkins.py
  tests/cibyl/unit/plugins/openstack/sources/test_jenkins.py
Labels: bug :bug:, Sources :mag:

#481 Making TripleO library reuse cloned repositories
  tests/tripleo/intr/insights/test_git.py
  tests/tripleo/intr/utils/git/test_gitpython.py
  tests/tripleo/intr/utils/test_fs.py
  tests/tripleo/unit/insights/test_git.py
  tripleo/insights/git.py
  tripleo/utils/fs.py
  tripleo/utils/git/__init__.py
  tripleo/utils/git/gitpython.py
Labels: enhancement :bulb:

#480 Write output to file for multiple environments
  cibyl/orchestrator.py
  cibyl/publisher.py
Labels: bug :bug:, Output :pencil:

#483 Caching deployment resources on TripleO library
  tests/tripleo/unit/insights/test_lookup.py
  tests/tripleo/unit/utils/test_cache.py
  tripleo/insights/lookup.py
  tripleo/utils/cache.py
Labels: enhancement :bulb:

#486 Make parsing of the plugin argument aware of subcommands
  cibyl/cli/main.py
  tests/cibyl/unit/cli/test_raw_parsing.py
Labels: bug :bug:

#487 Retrieving implicit branches for untrusted projects on the Zuul source
  cibyl/models/ci/zuul/job.py
  cibyl/sources/zuul/apis/__init__.py
  cibyl/sources/zuul/output.py
  cibyl/sources/zuul/transactions/__init__.py
  tests/cibyl/intr/plugins/openstack/sources/zuul/test_actions.py
  tests/cibyl/intr/sources/zuul/queries/composition/test_quick.py
  tests/cibyl/unit/sources/zuul/apis/test_rest.py
  tests/cibyl/unit/sources/zuul/test_transactions.py
Labels: Zuul

#485 Add separate publisher for JSON output
  cibyl/orchestrator.py
  cibyl/publisher.py
  tests/cibyl/unit/test_publisher.py
  tox.ini
Labels: bug :bug:, Output :pencil:

#488 Tweak edge cases in the openstack json printer
  cibyl/plugins/openstack/printers/serialized.py
  tests/cibyl/unit/plugins/openstack/printers/test_json.py
Labels: Plugins :electric_plug:, Output :pencil:

#489 Complete rework on how a variant's variables are obtained.
  cibyl/plugins/openstack/sources/zuul/variants.py
  cibyl/sources/zuul/apis/__init__.py
  cibyl/sources/zuul/apis/providers/__init__.py
  cibyl/sources/zuul/apis/rest.py
  cibyl/sources/zuul/output.py
  cibyl/sources/zuul/transactions/__init__.py
  cibyl/sources/zuul/utils/variants/__init__.py
  cibyl/sources/zuul/utils/variants/hierarchy.py
  cibyl/utils/cache.py
  tests/cibyl/e2e/test_zuul.py
  tests/cibyl/intr/plugins/openstack/sources/zuul/test_actions.py
  tests/cibyl/intr/sources/zuul/queries/composition/test_quick.py
  tests/cibyl/unit/plugins/openstack/sources/zuul/test_variants.py
  tests/cibyl/unit/sources/zuul/apis/test_rest.py
  tests/cibyl/unit/sources/zuul/utils/variants/__init__.py
  tests/cibyl/unit/sources/zuul/utils/variants/test_hierarchy.py
  tests/cibyl/unit/utils/test_cache.py
Labels: enhancement :bulb:, Sources :mag:, Zuul
