Repository RedHatCRE/cibyl, pull requests merged in 2022-05, with the labels that each got.

#194 Ask for a build to fetch tests (jenkins)
  cibyl/exceptions/cli.py
  cibyl/sources/jenkins.py
  tests/unit/sources/test_jenkins.py
Labels: Sources :mag:

#195 Introduce --spec argument for Jenkins source
  cibyl/plugins/openstack/deployment.py
  cibyl/plugins/openstack/node.py
  cibyl/sources/jenkins.py
  docs/source/plugins/openstack.rst
  tests/unit/sources/test_jenkins.py
Labels: enhancement :bulb:, Sources :mag:

#189 Feature/get tests elasticsearch source
  cibyl/sources/elasticsearch/api.py
  tests/unit/sources/elasticsearch/test_api.py
Labels: enhancement :bulb:, Sources :mag:

#199 Improve SourceMethodsStore for multiple sources
  cibyl/orchestrator.py
  cibyl/utils/source_methods_store.py
  tests/unit/utils/test_source_metdhods_store.py
Labels: bug :bug:, Core

#202 Remove openstack as default plugin
  cibyl/cli/main.py
  cibyl/plugins/__init__.py
  tests/intr/cli/test_openstack_plugin.py
  tests/unit/cli/test_raw_parsing.py
  tests/unit/plugins/test_plugin.py
Labels: Core, Improvement, Plugins

#201 Support --test-result and --test-duration in Jenkins
  cibyl/cli/ranged_argument.py
  cibyl/models/ci/build.py
  cibyl/models/ci/test.py
  cibyl/sources/jenkins.py
  cibyl/utils/filtering.py
  docs/source/sources.rst
  tests/unit/cli/test_ranged_argument.py
  tests/unit/sources/test_jenkins.py
Labels: Sources :mag:

#207 Add intemediate layer bewtween Source and sources
  cibyl/exceptions/source.py
  cibyl/sources/elasticsearch/api.py
  cibyl/sources/jenkins.py
  cibyl/sources/server.py
  cibyl/sources/zuul/source.py
  tests/unit/sources/elasticsearch/test_api.py
  tests/unit/sources/test_jenkins.py
  tests/unit/sources/test_source_factory.py
  tests/unit/sources/test_sources.py
Labels: enhancement :bulb:, Sources :mag:

#212 Move env validation between parse and run_query
  cibyl/cli/main.py
  cibyl/cli/validator.py
  cibyl/orchestrator.py
  cibyl/sources/source.py
  tests/unit/cli/test_validator.py
  tests/unit/test_orchestrator.py
Labels: Core, Improvement

#182 Implementation of ZuulD source
  cibyl/exceptions/zuul.py
  cibyl/sources/git.py
  cibyl/sources/source_factory.py
  cibyl/sources/zuuld/__init__.py
  cibyl/sources/zuuld/git_api.py
  cibyl/sources/zuuld/source.py
  cibyl/utils/yaml.py
  docs/source/sources/zuul.d.rst
  tests/unit/sources/zuul/test_zuuld_git_api.py
  tests/unit/sources/zuul/test_zuuld_source.py
  tests/unit/test_config.py
Labels: Sources :mag:

#211 Allowing Zuul source to query for pipelines.
  cibyl/models/attribute.py
  cibyl/models/ci/pipeline.py
  cibyl/models/ci/project.py
  cibyl/sources/zuul/api.py
  cibyl/sources/zuul/apis/rest.py
  cibyl/sources/zuul/models.py
  cibyl/sources/zuul/providers.py
  cibyl/sources/zuul/query.py
  cibyl/sources/zuul/requests.py
  cibyl/sources/zuul/source.py
  tests/intr/sources/zuul/test_query.py
  tests/unit/models/ci/test_pipeline.py
  tests/unit/models/ci/test_project.py
  tests/unit/sources/test_sources.py
  tests/unit/sources/zuul/apis/test_rest.py
  tests/unit/sources/zuul/test_models.py
Labels: Sources :mag:

#214 Raise exception if configuration file is empty
  cibyl/config.py
  tests/intr/cli/test_config.py
  tests/intr/cli/test_openstack_plugin.py
  tests/unit/test_config.py
Labels: bug :bug:, Core

#216 Add documentation link to missing configuration
  cibyl/config.py
Labels: bug :bug:, Core

#213 Support jobs_scope argument for jenkins and elasticsearch
  cibyl/models/ci/system.py
  cibyl/orchestrator.py
  cibyl/sources/elasticsearch/api.py
  cibyl/sources/jenkins.py
  cibyl/utils/source_methods_store.py
  tests/unit/models/ci/test_system.py
  tests/unit/sources/elasticsearch/test_api.py
  tests/unit/sources/test_jenkins.py
Labels: Core, Improvement, Models, Sources :mag:

#223 Remove packages, containers and services from spec
  cibyl/sources/jenkins.py
  tests/unit/sources/test_jenkins.py
Labels: Improvement, Sources :mag:

#225 Fix bug filtering by status with running build
  cibyl/utils/filtering.py
  tests/unit/sources/test_jenkins.py
Labels: bug :bug:, Sources :mag:

#224 Configuration documentation changes
  README.rst
  docs/source/bootstrap.rst
  docs/source/config_samples/elasticsearch_configuration.rst
  docs/source/config_samples/full_configuration.rst
  docs/source/config_samples/jjb_configuration.rst
  docs/source/config_samples/minimal_configuration.rst
  docs/source/config_samples/zuul_api_configuration.rst
  docs/source/config_samples/zuul_definitions_local_configuration.rst
  docs/source/config_samples/zuul_definitions_remote_configuration.rst
  docs/source/configuration.rst
  docs/source/index.rst
  docs/source/sources/elasticsearch.rst
  docs/source/sources/jenkins-job-builder.rst
  docs/source/sources/jenkins.rst
  docs/source/sources/zuul.d.rst
  docs/source/sources/zuul.rst
  docs/source/sources/zuul_api.rst
Labels: Docs :book:

#222 Fix issues in run_query due to many args and envs
  cibyl/orchestrator.py
  cibyl/sources/jenkins.py
  tests/intr/test_orchestrator.py
  tests/unit/sources/zuul/test_zuuld_git_api.py
Labels: bug :bug:, Core

#230 Parse all arguments instead of ignoring non-supported args
  cibyl/cli/parser.py
  tests/unit/cli/test_parser.py
  tests/unit/test_orchestrator.py
Labels: bug :bug:, Core

#229 Add information to source request exceptions
  cibyl/sources/source.py
Labels: Sources :mag:

#233 Improve consistency of exceptions formatting
  cibyl/cli/main.py
  cibyl/cli/output.py
  cibyl/exceptions/__init__.py
  cibyl/models/ci/printers/__init__.py
  cibyl/models/ci/printers/factory.py
  cibyl/models/ci/system.py
  cibyl/models/ci/system_factory.py
  cibyl/plugins/openstack/printers/__init__.py
  cibyl/sources/source_factory.py
  cibyl/sources/zuul/api.py
  cibyl/sources/zuul/providers.py
  cibyl/utils/io.py
  tests/e2e/containers/__init__.py
  tests/unit/cli/test_main.py
  tests/unit/sources/test_source_factory.py
Labels: enhancement :bulb:, styling, Core

#228 Reduce the information printed by get_deployment
  cibyl/plugins/openstack/printers/colored.py
  cibyl/sources/jenkins.py
  cibyl/utils/strings.py
  tests/unit/sources/test_jenkins.py
Labels: Improvement, Sources :mag:

#231 Logging Improvements
  cibyl/models/ci/printers/colored.py
  cibyl/orchestrator.py
  cibyl/sources/elasticsearch/client.py
  tests/unit/test_orchestrator.py
Labels: logging

#238 Refactoring location of modules related to output
  cibyl/models/ci/base/__init__.py
  cibyl/models/ci/base/build.py
  cibyl/models/ci/base/environment.py
  cibyl/models/ci/base/job.py
  cibyl/models/ci/base/system.py
  cibyl/models/ci/base/test.py
  cibyl/models/ci/system_factory.py
  cibyl/models/ci/zuul/job.py
  cibyl/models/ci/zuul/system.py
  cibyl/orchestrator.py
  cibyl/outputs/__init__.py
  cibyl/outputs/cli/__init__.py
  cibyl/outputs/cli/ci/__init__.py
  cibyl/outputs/cli/ci/base/__init__.py
  cibyl/outputs/cli/ci/base/colored.py
  cibyl/outputs/cli/ci/base/raw.py
  cibyl/outputs/cli/ci/factory.py
  cibyl/outputs/cli/ci/printer.py
  cibyl/outputs/cli/ci/zuul/__init__.py
  cibyl/outputs/cli/printer.py
  cibyl/plugins/openstack/__init__.py
  cibyl/plugins/openstack/printers/__init__.py
  cibyl/publisher.py
  cibyl/sources/elasticsearch/api.py
  cibyl/sources/jenkins.py
  cibyl/sources/jenkins_job_builder.py
  cibyl/sources/zuul/models.py
  cibyl/sources/zuuld/git_api.py
  tests/intr/cli/test_openstack_plugin.py
  tests/intr/models/ci/base/__init__.py
  tests/intr/models/ci/base/test_system.py
  tests/intr/sources/zuul/test_query.py
  tests/unit/cli/test_parser.py
  tests/unit/models/ci/base/__init__.py
  tests/unit/models/ci/base/test_build.py
  tests/unit/models/ci/base/test_environment.py
  tests/unit/models/ci/base/test_job.py
  tests/unit/models/ci/base/test_system.py
  tests/unit/models/ci/base/test_test.py
  tests/unit/outputs/__init__.py
  tests/unit/outputs/cli/__init__.py
  tests/unit/outputs/cli/ci/__init__.py
  tests/unit/outputs/cli/ci/base/__init__.py
  tests/unit/outputs/cli/ci/base/test_raw.py
  tests/unit/plugins/openstack/test_openstack.py
  tests/unit/sources/test_jenkins_job_builder.py
  tests/unit/test_publisher.py
  tests/utils/__init__.py
  tox.ini
Labels: Core

#236 Add exception for non-supported key in systems configuration
  cibyl/exceptions/config.py
  cibyl/exceptions/model.py
  cibyl/models/ci/base/system.py
  cibyl/models/ci/system_factory.py
  cibyl/models/ci/zuul/system.py
  cibyl/orchestrator.py
  cibyl/sources/elasticsearch/api.py
  cibyl/sources/jenkins.py
  tests/unit/models/ci/base/test_system.py
  tests/unit/sources/elasticsearch/test_api.py
  tests/unit/sources/test_jenkins.py
Labels: Sources :mag:, Config :pencil:

#235 Add ML2 driver type to the spec in jenkins source
  cibyl/plugins/openstack/deployment.py
  cibyl/plugins/openstack/printers/colored.py
  cibyl/plugins/openstack/sources/jenkins.py
  docs/source/plugins/openstack.rst
  tests/unit/plugins/openstack/sources/test_jenkins.py
  tox.ini
Labels: Improvement :fireworks:, Sources :mag:

#242 Add ironic options to spec
  cibyl/plugins/openstack/deployment.py
  cibyl/plugins/openstack/printers/colored.py
  cibyl/plugins/openstack/sources/jenkins.py
  docs/source/plugins/openstack.rst
  tests/unit/plugins/openstack/sources/test_jenkins.py
Labels: enhancement :bulb:, Sources :mag:, Plugins :electric_plug:

#246 Add exception for non-supported source type
  cibyl/exceptions/config.py
  cibyl/sources/source_factory.py
  tests/unit/sources/test_source_factory.py
Labels: Sources :mag:, Config :floppy_disk:

#245 Adjust spec output based on verbosity level
  cibyl/plugins/openstack/printers/colored.py
Labels: Output :pencil:

#247 Add exception for missing required arg in source
  cibyl/exceptions/config.py
  cibyl/sources/source_factory.py
Labels: Sources :mag:, Config :floppy_disk:

#244 Add build options to query.py
  cibyl/cli/query.py
  tests/unit/cli/test_query.py
Labels: bug :bug:, Core

#254 Add security group mechanism to the spec in Jenkins
  cibyl/cli/query.py
  cibyl/plugins/openstack/deployment.py
  cibyl/plugins/openstack/printers/colored.py
  cibyl/plugins/openstack/sources/jenkins.py
  tests/intr/output/test_output_colored_openstack.py
  tests/unit/plugins/openstack/sources/test_jenkins.py
Labels: enhancement :bulb:, Sources :mag:, Plugins :electric_plug:

#255 Add exception for missing source type
  cibyl/exceptions/config.py
  cibyl/sources/source_factory.py
Labels: Sources :mag:, Config :floppy_disk:

#252 Ensure that system constructor arguments are set
  cibyl/models/ci/base/system.py
  cibyl/models/ci/zuul/system.py
  tests/unit/models/ci/base/test_system.py
  tests/unit/models/ci/zuul/test_system.py
  tests/unit/test_orchestrator.py
Labels: bug :bug:, Core, Models

#257 Adding query composition for Zuul source
  cibyl/sources/zuul/query.py
  tests/e2e/test_zuul.py
Labels: Sources :mag:, Zuul

#258 Add openstack cli arguments to get_query_type
  cibyl/cli/query.py
  cibyl/plugins/__init__.py
  cibyl/plugins/openstack/__init__.py
  tests/unit/cli/test_query.py
  tests/utils/__init__.py
Labels: enhancement :bulb:, Core, Plugins :electric_plug:

#259 Modify environments argument name
  cibyl/models/ci/base/environment.py
  tests/unit/cli/test_parser.py
Labels: styling

#260 Zuul: Adding 'X not found' message whenever a query turned no results.
  cibyl/outputs/cli/ci/system/impls/zuul/colored.py
  tests/e2e/test_zuul.py
  tests/intr/output/test_output_colored_openstack.py
Labels: Zuul

#268 Extend plugin_sources list rather then overriding with the latest found
  cibyl/plugins/__init__.py
Labels: bug :bug:

#264 Decouple OpenStack from Elsaticsearch source
  cibyl/plugins/__init__.py
  cibyl/plugins/openstack/sources/elasticsearch.py
  cibyl/sources/elasticsearch/api.py
  cibyl/sources/source_factory.py
  docs/source/development/sources.rst
  tests/unit/sources/elasticsearch/test_api.py
  tests/unit/sources/test_source_factory.py
  tests/unit/test_orchestrator.py
Labels: Sources :mag:, Plugins :electric_plug:

#270 Have Cibyl run on Docker
  Dockerfile
  requirements.txt
  samples/sample-config.yaml
  tests/e2e/containers/__init__.py
  tests/e2e/containers/httpd.py
  tests/e2e/data/images/httpd/Dockerfile
  tests/e2e/data/images/httpd/docker-compose.yml
  tests/e2e/data/images/jenkins/Dockerfile
  tests/e2e/requirements.txt
  tests/e2e/test_config.py
Labels: Tests

#265 Switch to query and publish per system
  cibyl/cli/main.py
  cibyl/orchestrator.py
  cibyl/outputs/cli/ci/colored.py
  cibyl/outputs/cli/ci/system/impls/base/colored.py
  cibyl/outputs/cli/ci/system/impls/jobs/colored.py
  cibyl/outputs/cli/ci/system/impls/zuul/colored.py
  cibyl/publisher.py
  tests/unit/test_publisher.py
Labels: Core, Output :pencil:

#275 Adding models for Zuul tests.
  cibyl/models/ci/base/test.py
  cibyl/models/ci/zuul/test.py
  cibyl/models/ci/zuul/tests/__init__.py
  cibyl/models/ci/zuul/tests/ansible.py
  cibyl/models/ci/zuul/tests/tempest.py
  tests/unit/models/ci/zuul/test_test.py
  tests/unit/models/ci/zuul/tests/__init__.py
  tests/unit/models/ci/zuul/tests/test_ansible.py
  tests/unit/models/ci/zuul/tests/test_tempest.py
Labels: Models, Zuul

#281 Support enabled option in zuul source
  cibyl/sources/zuul/source.py
Labels: bug :bug:, Sources :mag:, Zuul

#280 Support querying for overcloud templates in Jenkins
  cibyl/plugins/openstack/deployment.py
  cibyl/plugins/openstack/printers/colored.py
  cibyl/plugins/openstack/sources/jenkins.py
  tests/unit/plugins/openstack/printers/test_raw.py
  tests/unit/plugins/openstack/sources/test_jenkins.py
  tests/unit/plugins/openstack/test_deployment.py
Labels: Models, Sources :mag:, Plugins :electric_plug:

#285 Add CI stages to Jenkins source
  cibyl/models/attribute.py
  cibyl/models/ci/base/build.py
  cibyl/models/ci/base/stage.py
  cibyl/outputs/cli/ci/system/common/builds.py
  cibyl/outputs/cli/ci/system/impls/jobs/colored.py
  cibyl/sources/jenkins.py
  tests/unit/models/ci/base/test_build.py
  tests/unit/models/ci/base/test_stage.py
  tests/unit/models/test_attribute.py
  tests/unit/sources/test_jenkins.py
Labels: Models, Sources :mag:

#293 Print overloud templates correctly when N/A
  cibyl/plugins/openstack/printers/colored.py
  tests/unit/plugins/openstack/printers/test_raw.py
Labels: bug :bug:, Plugins :electric_plug:, Output :pencil:
