Repository RedHatCRE/cibyl, pull requests merged in 2022-06, with the labels that each got.

#296 Add testing info to spec in Jenkins source
  cibyl/plugins/openstack/deployment.py
  cibyl/plugins/openstack/printers/colored.py
  cibyl/plugins/openstack/sources/jenkins.py
  cibyl/plugins/openstack/test_collection.py
  cibyl/utils/files.py
  tests/unit/plugins/openstack/printers/test_raw.py
  tests/unit/plugins/openstack/sources/test_jenkins.py
  tests/unit/plugins/openstack/test_deployment.py
  tests/unit/plugins/openstack/test_test_collection.py
  tests/unit/utils/test_files.py
Labels: Sources :mag:, Plugins :electric_plug:

#292 Add stages info to get_deployment in Jenkins
  cibyl/outputs/cli/ci/system/common/builds.py
  cibyl/outputs/cli/ci/system/common/jobs.py
  cibyl/outputs/cli/ci/system/common/stages.py
  cibyl/outputs/cli/ci/system/common/status.py
  cibyl/outputs/cli/ci/system/impls/jobs/colored.py
  cibyl/plugins/openstack/deployment.py
  cibyl/plugins/openstack/printers/colored.py
  cibyl/plugins/openstack/sources/jenkins.py
  tests/unit/plugins/openstack/printers/test_raw.py
  tests/unit/plugins/openstack/sources/test_jenkins.py
  tests/unit/plugins/openstack/test_deployment.py
Labels: Sources :mag:, Plugins :electric_plug:, Output :pencil:

#269 listed dependencies on setup.py
  Dockerfile
  setup.cfg
  setup.py
Labels: bug :bug:

#304 Reuse spec jobs check in elasticsearch
  cibyl/exceptions/source.py
  cibyl/plugins/openstack/sources/elasticsearch.py
  cibyl/plugins/openstack/sources/jenkins.py
  cibyl/plugins/openstack/sources/server.py
  cibyl/sources/source_factory.py
  tests/unit/plugins/openstack/sources/test_jenkins.py
  tests/unit/sources/elasticsearch/test_api.py
Labels: Sources :mag:

#315 Refine mechanism for features definition
  cibyl/features/__init__.py
  cibyl/plugins/openstack/features/network.py
  cibyl/utils/files.py
  cibyl/utils/reflection.py
  docs/source/development/features.rst
  tests/unit/features/data/testing.py
  tests/unit/features/test_features.py
Labels: Core

#319 Add more granular configuration exceptions
  cibyl/exceptions/config.py
  cibyl/exceptions/source.py
  cibyl/orchestrator.py
  cibyl/outputs/cli/ci/colored.py
  cibyl/outputs/cli/ci/system/impls/base/colored.py
  cibyl/outputs/cli/ci/system/impls/jobs/colored.py
  docs/source/config_samples/minimal_configuration.rst
  tests/intr/output/test_output_colored_openstack.py
  tests/unit/test_orchestrator.py
Labels: bug :bug:, enhancement :bulb:, Config :floppy_disk:

#299 Call setup for a source only when it'll be called
  cibyl/cli/main.py
  cibyl/features/__init__.py
  cibyl/orchestrator.py
  cibyl/sources/source.py
  tests/intr/sources/zuuld/test_git_api.py
  tests/intr/test_orchestrator.py
  tests/unit/sources/elasticsearch/test_api.py
  tests/unit/sources/test_sources.py
  tests/unit/test_orchestrator.py
Labels: Core, Sources :mag:

#322 Filter dvr and tls_everywhere true by default
  cibyl/plugins/openstack/sources/jenkins.py
  cibyl/utils/filtering.py
  tests/unit/features/test_features.py
  tests/unit/plugins/openstack/sources/test_jenkins.py
Labels: Sources :mag:

#324 Print help message with configuration error
  cibyl/cli/main.py
  cibyl/cli/parser.py
  tests/intr/cli/test_config.py
Labels: bug :bug:, Core

#328 Filter jobs without builds in Jenkins when needed
  cibyl/sources/jenkins.py
  cibyl/sources/server.py
  tests/unit/sources/test_jenkins.py
Labels: Sources :mag:

#327 Fixing incorrect fetching of variant variables
  cibyl/sources/zuul/apis/rest.py
  tests/unit/sources/zuul/apis/test_rest.py
Labels: bug :bug:, Sources :mag:, Plugins :electric_plug:, Zuul

#329 Filter jobs without tests in Jenkins when needed
  cibyl/sources/jenkins.py
  tests/unit/sources/test_jenkins.py
Labels: Sources :mag:

#333 Fix exception in jenkins filter_nodes function
  cibyl/plugins/openstack/sources/jenkins.py
  tests/unit/plugins/openstack/sources/test_jenkins.py
Labels: Sources :mag:

#334 Only print topology and nodes when asked in Jenkins
  cibyl/plugins/openstack/sources/jenkins.py
  tests/unit/plugins/openstack/sources/test_jenkins.py
Labels: Sources :mag:

#332 Consider all openstack arguments for query type
  cibyl/plugins/openstack/__init__.py
  cibyl/plugins/openstack/service.py
  cibyl/plugins/openstack/sources/jenkins.py
  tests/unit/cli/test_query.py
Labels: Plugins :electric_plug:

#335 Fix error message of NoValidSources exception
  cibyl/exceptions/source.py
Labels: bug :bug:

#338 Use logger from core jenkins source in plugin extension
  cibyl/plugins/openstack/sources/elasticsearch.py
  cibyl/plugins/openstack/sources/jenkins.py
Labels: Sources :mag:, Plugins :electric_plug:

#339 Error when creating chunks with no jobs
  cibyl/sources/elasticsearch/api.py
Labels: bug :bug:

#340 Remove multiple OS args and add them as features
  cibyl/features/__init__.py
  cibyl/plugins/openstack/deployment.py
  cibyl/plugins/openstack/features/__init__.py
  cibyl/plugins/openstack/features/ironic.py
  cibyl/plugins/openstack/features/network.py
  cibyl/plugins/openstack/features/security.py
  docs/source/plugins/openstack.rst
  tests/unit/features/data/testing.py
  tests/unit/features/test_features.py
Labels: Plugins :electric_plug:, Features

#331 Refactor Configuration Handling
  cibyl/cli/main.py
  cibyl/config.py
  cibyl/orchestrator.py
  tests/intr/cli/test_openstack_plugin.py
  tests/intr/models/ci/base/test_system.py
  tests/unit/cli/test_validator.py
  tests/unit/config/__init__.py
  tests/unit/config/test_app_config.py
  tests/unit/config/test_config.py
  tests/unit/test_orchestrator.py
Labels: Config :floppy_disk:

#342 Print all features when passing --features
  cibyl/orchestrator.py
Labels: bug :bug:, Features

#346 Add joined output from all queries to system
  cibyl/orchestrator.py
  cibyl/utils/dicts.py
  tests/intr/test_orchestrator.py
  tests/unit/utils/test_dicts.py
Labels: bug :bug:, Core

#349 Rename storage_backend to cinder_backend
  cibyl/plugins/openstack/__init__.py
  cibyl/plugins/openstack/deployment.py
  cibyl/plugins/openstack/printers/colored.py
  cibyl/plugins/openstack/sources/elasticsearch.py
  cibyl/plugins/openstack/sources/jenkins.py
  cibyl/utils/filtering.py
  docs/source/plugins/openstack.rst
  docs/source/sources/elasticsearch.rst
  tests/unit/cli/test_query.py
  tests/unit/plugins/openstack/printers/test_raw.py
  tests/unit/plugins/openstack/sources/test_jenkins.py
  tests/unit/plugins/openstack/test_deployment.py
Labels: Plugins :electric_plug:

#351 Reverting publisher back to printing once when all systems are done
  cibyl/orchestrator.py
  cibyl/outputs/cli/ci/env/impl/colored.py
  cibyl/outputs/cli/ci/system/impls/base/colored.py
  cibyl/outputs/cli/ci/system/impls/jobs/colored.py
  cibyl/outputs/cli/ci/system/impls/zuul/colored.py
  cibyl/publisher.py
  tests/e2e/test_zuul.py
  tests/intr/outputs/test_output_colored_openstack.py
  tests/unit/test_publisher.py
Labels: Output :pencil:

#355 Remove --job-url argument
  cibyl/models/ci/base/job.py
  cibyl/sources/elasticsearch/api.py
  cibyl/sources/jenkins.py
  cibyl/sources/zuul/actions.py
  cibyl/sources/zuul/queries/jobs.py
  cibyl/utils/source_methods_store.py
  docs/source/sources.rst
  tests/e2e/test_zuul.py
  tests/intr/sources/zuul/test_query.py
  tests/unit/cli/test_query.py
  tests/unit/sources/test_jenkins.py
Labels: Core, Config :floppy_disk:

#362 Skeleton for TripleO library
  tests/tripleo/__init__.py
  tests/tripleo/intr/__init__.py
  tests/tripleo/intr/utils/__init__.py
  tests/tripleo/intr/utils/github/__init__.py
  tests/tripleo/intr/utils/github/test_pygithub.py
  tests/tripleo/unit/__init__.py
  tests/tripleo/unit/utils/__init__.py
  tests/tripleo/unit/utils/github/__init__.py
  tests/tripleo/unit/utils/github/test_pygithub.py
  tox.ini
  tripleo/__init__.py
  tripleo/insights.py
  tripleo/utils/__init__.py
  tripleo/utils/defaults.py
  tripleo/utils/github/__init__.py
  tripleo/utils/github/pygithub.py
  tripleo/utils/types.py
Labels: Sources :mag:, Plugins :electric_plug:, Zuul

#365 Add regex filtering to elasticsearch get_jobs
  cibyl/sources/elasticsearch/api.py
  tests/cibyl/unit/sources/elasticsearch/test_api.py
Labels: Sources :mag:

#369 Print a message when a build has no tests
  cibyl/cli/query.py
  cibyl/outputs/cli/ci/system/impls/jobs/colored.py
  tests/cibyl/unit/cli/test_query.py
Labels: Output :pencil:
