Repository RedHatCRE/cibyl, pull requests merged in 2022-07, with the labels that each got.

#372 Filter jobs without builds in Elasticsearch when needed
  cibyl/sources/elasticsearch/api.py
  cibyl/sources/jenkins.py
  cibyl/utils/models.py
  tests/cibyl/unit/sources/elasticsearch/test_api.py
Labels: Sources :mag:

#374 Remove argument duplication in filtering in Jenkins
  cibyl/sources/jenkins.py
  tests/cibyl/unit/sources/test_jenkins.py
Labels: Sources :mag:

#361 Simplify how repeated queries are handled in run_query
  cibyl/orchestrator.py
  cibyl/utils/source_methods_store.py
  tests/cibyl/intr/test_orchestrator.py
  tests/cibyl/unit/test_orchestrator.py
  tests/cibyl/unit/utils/test_source_metdhods_store.py
Labels: Core

#378 Split openstack deployment properties into models
  cibyl/plugins/openstack/deployment.py
  cibyl/plugins/openstack/ironic.py
  cibyl/plugins/openstack/network.py
  cibyl/plugins/openstack/printers/colored.py
  cibyl/plugins/openstack/sources/elasticsearch.py
  cibyl/plugins/openstack/sources/jenkins.py
  cibyl/plugins/openstack/storage.py
  tests/cibyl/intr/test_orchestrator.py
  tests/cibyl/unit/plugins/openstack/printers/test_raw.py
  tests/cibyl/unit/plugins/openstack/sources/test_jenkins.py
  tests/cibyl/unit/plugins/openstack/test_deployment.py
  tests/cibyl/unit/plugins/openstack/test_ironic.py
  tests/cibyl/unit/plugins/openstack/test_network.py
  tests/cibyl/unit/plugins/openstack/test_storage.py
  tests/cibyl/unit/sources/elasticsearch/test_api.py
Labels: Plugins :electric_plug:

#377 Add --test-setup argument to openstack plugin
  cibyl/cli/argument.py
  cibyl/cli/parser.py
  cibyl/plugins/openstack/__init__.py
  cibyl/plugins/openstack/deployment.py
  cibyl/plugins/openstack/test_collection.py
  docs/source/plugins/openstack.rst
  tests/cibyl/unit/test_orchestrator.py
Labels: Plugins :electric_plug:

#381 Support --test-setup argument in Jenkins
  cibyl/plugins/openstack/sources/jenkins.py
  docs/source/plugins/openstack.rst
  tests/cibyl/unit/plugins/openstack/sources/test_jenkins.py
Labels: Sources :mag:, Plugins :electric_plug:

#385 Returning 'infra_type' as part of the deployment
  cibyl/plugins/openstack/sources/zuul/actions.py
  cibyl/plugins/openstack/sources/zuul/deployments/outlines.py
  cibyl/plugins/openstack/sources/zuul/variants.py
  tests/cibyl/unit/plugins/openstack/sources/zuul/deployments/test_outlines.py
  tripleo/insights/io.py
Labels: Sources :mag:, Zuul

#384 Integrating TripleO library in Cibyl
  cibyl/plugins/openstack/sources/zuul/actions.py
  cibyl/plugins/openstack/sources/zuul/deployments/__init__.py
  cibyl/plugins/openstack/sources/zuul/deployments/outlines.py
  cibyl/plugins/openstack/sources/zuul/variants.py
  tests/cibyl/unit/plugins/openstack/sources/zuul/deployments/__init__.py
  tests/cibyl/unit/plugins/openstack/sources/zuul/deployments/test_outlines.py
  tests/cibyl/unit/plugins/openstack/sources/zuul/test_actions.py
  tripleo/insights/io.py
Labels: Sources :mag:, Zuul

#386 Filtering by ip_version and infra_type
  cibyl/plugins/openstack/sources/zuul/actions.py
  cibyl/plugins/openstack/sources/zuul/deployments/filtering.py
  tests/cibyl/unit/plugins/openstack/sources/zuul/deployments/test_filtering.py
  tests/cibyl/unit/plugins/openstack/sources/zuul/test_actions.py
Labels: Sources :mag:, Zuul

#387 In case 'infra_type' is not defined, default to 'standalone'
  cibyl/plugins/openstack/sources/zuul/deployments/outlines.py
  tests/cibyl/unit/plugins/openstack/sources/zuul/deployments/test_outlines.py
Labels: Sources :mag:, Zuul

#388 Add support for --test-setup in elasticsearch
  cibyl/plugins/openstack/printers/colored.py
  cibyl/plugins/openstack/sources/elasticsearch.py
  tests/cibyl/unit/sources/elasticsearch/test_api.py
Labels: Sources :mag:, Plugins :electric_plug:

#393 Distribute some deployment arguments to other models
  cibyl/plugins/openstack/__init__.py
  cibyl/plugins/openstack/deployment.py
  cibyl/plugins/openstack/network.py
  cibyl/plugins/openstack/storage.py
Labels: Plugins :electric_plug:

#390 Extracting the topology from the 'nodes' file.
  tests/tripleo/unit/insights/test_deployment.py
  tripleo/_data/schemas/nodes.json
  tripleo/insights/deployment.py
  tripleo/insights/io.py
Labels: Plugins :electric_plug:, Zuul

#394 Passing the custom nodes file of a job to TripleO Insights.
  cibyl/plugins/openstack/sources/zuul/deployments/outlines.py
  cibyl/plugins/openstack/sources/zuul/tripleo.py
  cibyl/plugins/openstack/sources/zuul/variants.py
  tests/cibyl/unit/plugins/openstack/sources/zuul/deployments/test_outlines.py
  tests/cibyl/unit/plugins/openstack/sources/zuul/test_tripleo.py
Labels: Plugins :electric_plug:, Zuul

#396 Add --overcloud-templates cli argument
  cibyl/plugins/openstack/deployment.py
Labels: Plugins :electric_plug:

#398 Adding missing cell nodes as another part of the deployment's topology
  tests/tripleo/unit/insights/test_deployment.py
  tests/tripleo/unit/insights/test_io.py
  tripleo/_data/schemas/nodes.json
  tripleo/insights/deployment.py
  tripleo/insights/io.py
Labels: Sources :mag:, Plugins :electric_plug:

#400 Adding logging to the TripleO library
  cibyl/utils/logger.py
  tripleo/conf.py
  tripleo/utils/logging.py
Labels: logging

#401 Returning release name as part of the deployment summary
  tests/tripleo/intr/insights/test_deployment.py
  tests/tripleo/unit/insights/test_deployment.py
  tripleo/_data/schemas/release.json
  tripleo/insights/deployment.py
  tripleo/insights/io.py
  tripleo/insights/lookup.py
Labels: Plugins :electric_plug:, Zuul

#402 Add tripleo to packages
  setup.cfg
Labels: bug :bug:

#403 Allow to select the Git branch to download files from.
  tests/tripleo/intr/utils/git/test_gitpython.py
  tests/tripleo/unit/insights/test_git.py
  tests/tripleo/unit/utils/github/test_pygithub.py
  tripleo/insights/git.py
  tripleo/utils/git/__init__.py
  tripleo/utils/git/gitpython.py
  tripleo/utils/github/__init__.py
  tripleo/utils/github/pygithub.py
Labels: Plugins :electric_plug:, Zuul

#404 Adding cinder backend as part of the deployment summary
  tests/tripleo/unit/insights/test_deployment.py
  tests/tripleo/unit/insights/test_lookup.py
  tests/tripleo/unit/insights/test_tripleo.py
  tripleo/_data/schemas/featureset.json
  tripleo/_data/schemas/scenario.json
  tripleo/insights/deployment.py
  tripleo/insights/io.py
  tripleo/insights/lookup.py
  tripleo/insights/tripleo.py
Labels: Plugins :electric_plug:, Zuul

#405 Passing the release file as part of the outline to TripleO
  cibyl/plugins/openstack/sources/zuul/deployments/outlines.py
  cibyl/plugins/openstack/sources/zuul/tripleo.py
  cibyl/plugins/openstack/sources/zuul/variants.py
  tests/cibyl/intr/plugins/openstack/sources/zuul/test_actions.py
  tests/cibyl/unit/plugins/openstack/sources/zuul/deployments/test_outlines.py
  tests/cibyl/unit/plugins/openstack/sources/zuul/test_tripleo.py
Labels: Plugins :electric_plug:, Zuul

#411 Hiding 'Topology' output is there is no information on it.
  cibyl/plugins/openstack/sources/zuul/actions.py
Labels: bug :bug:

#408 Fix a bug where an inaccessible GitHub crashed Cibyl
  tripleo/insights/git.py
Labels: bug :bug:

#412 Change default release to 'master'
  cibyl/plugins/openstack/sources/zuul/actions.py
Labels: Plugins :electric_plug:, Zuul

#409 Fixing a bug where the TripleO library failed to check out the master branch
  cibyl/plugins/openstack/sources/zuul/actions.py
  tests/tripleo/unit/insights/test_tripleo.py
  tripleo/insights/tripleo.py
Labels: bug :bug:

#410 Adding support for --cinder-backend
  cibyl/plugins/openstack/sources/zuul/actions.py
  cibyl/plugins/openstack/sources/zuul/deployments/filtering.py
  tests/cibyl/unit/plugins/openstack/sources/zuul/deployments/test_filtering.py
Labels: Plugins :electric_plug:, Zuul

#413 Fixing a bug where the TripleO library failed to clone repositories.
  tests/tripleo/e2e/__init__.py
  tests/tripleo/e2e/test_git.py
  tests/tripleo/intr/utils/test_fs.py
  tripleo/insights/git.py
  tripleo/utils/fs.py
  tripleo/utils/git/gitpython.py
  tripleo/utils/rng.py
Labels: bug :bug:

#415 Make the deployment arguments only return what was asked.
  cibyl/plugins/openstack/deployment.py
  cibyl/plugins/openstack/sources/zuul/actions.py
  cibyl/plugins/openstack/sources/zuul/deployments/arguments.py
  cibyl/plugins/openstack/sources/zuul/deployments/generator.py
  cibyl/plugins/openstack/sources/zuul/deployments/summary.py
  requirements.txt
  tests/cibyl/unit/plugins/openstack/sources/zuul/deployments/test_arguments.py
  tests/cibyl/unit/plugins/openstack/sources/zuul/deployments/test_generator.py
  tests/cibyl/unit/plugins/openstack/sources/zuul/deployments/test_summary.py
  tests/cibyl/unit/plugins/openstack/sources/zuul/test_actions.py
Labels: bug :bug:

#416 Fixing a bug where custom cinder backends where not seen
  tests/tripleo/e2e/test_insights.py
  tests/tripleo/unit/insights/test_deployment.py
  tripleo/_data/schemas/scenario.json
  tripleo/insights/deployment.py
Labels: bug :bug:

#417 Returning neutron backend as part of the deployment summary.
  tests/tripleo/e2e/test_insights.py
  tests/tripleo/unit/insights/test_deployment.py
  tripleo/_data/schemas/scenario.json
  tripleo/insights/deployment.py
  tripleo/insights/io.py
  tripleo/insights/lookup.py
Labels: Plugins :electric_plug:, Zuul

#425 Revisiting how the interpreter keys are defined.
  tests/tripleo/intr/insights/test_deployment.py
  tests/tripleo/unit/insights/test_deployment.py
  tripleo/insights/deployment.py
Labels: Plugins :electric_plug:, Zuul

#426 Make the deployment-s topology hold the nodes names.
  tests/tripleo/intr/insights/test_interpreters.py
  tests/tripleo/unit/insights/test_interpreters.py
  tests/tripleo/unit/insights/test_topology.py
  tripleo/_data/schemas/nodes.json
  tripleo/insights/interpreters.py
  tripleo/insights/io.py
  tripleo/insights/lookup.py
  tripleo/insights/topology.py
Labels: Plugins :electric_plug:, Zuul

#399 Modify the orchestrator method for query selection
  cibyl/cli/parser.py
  cibyl/orchestrator.py
  requirements.txt
  tests/cibyl/intr/test_orchestrator.py
  tests/cibyl/unit/test_orchestrator.py
Labels: Core

#428 Add CLI usage page to documentation
  docs/source/usage/cli.rst
Labels: Docs :book:

#429 Enable the --nodes argument
  cibyl/plugins/openstack/deployment.py
  cibyl/plugins/openstack/node.py
  docs/source/plugins/openstack.rst
Labels: Plugins :electric_plug:

#432 Support --overcloud-templates in elasticsearch
  cibyl/plugins/openstack/sources/elasticsearch.py
  tests/cibyl/unit/plugins/openstack/sources/test_elasticsearch.py
  tests/cibyl/unit/sources/elasticsearch/test_api.py
Labels: Sources :mag:, Plugins :electric_plug:

#431 Adding support for '--nodes' on Zuul-CI source
  cibyl/plugins/openstack/node.py
  cibyl/plugins/openstack/sources/zuul/deployments/arguments.py
  cibyl/plugins/openstack/sources/zuul/deployments/filtering.py
  cibyl/plugins/openstack/sources/zuul/deployments/generator.py
  cibyl/plugins/openstack/sources/zuul/deployments/summary.py
  tests/cibyl/unit/plugins/openstack/sources/zuul/deployments/test_arguments.py
  tests/cibyl/unit/plugins/openstack/sources/zuul/deployments/test_filtering.py
  tests/cibyl/unit/plugins/openstack/sources/zuul/deployments/test_generator.py
  tests/cibyl/unit/plugins/openstack/sources/zuul/deployments/test_summary.py
Labels: Plugins :electric_plug:, Zuul

#433 Adding support for --controllers on Zuul-CI source
  cibyl/cli/argument.py
  cibyl/plugins/openstack/sources/zuul/deployments/arguments.py
  cibyl/plugins/openstack/sources/zuul/deployments/filtering.py
  cibyl/plugins/openstack/sources/zuul/deployments/summary.py
  tests/cibyl/unit/plugins/openstack/sources/zuul/deployments/test_arguments.py
  tests/cibyl/unit/plugins/openstack/sources/zuul/deployments/test_filtering.py
  tests/cibyl/unit/plugins/openstack/sources/zuul/deployments/test_summary.py
Labels: Plugins :electric_plug:, Zuul

#434 Refactor deployment summary so that it is closer to the original idea.
  cibyl/plugins/openstack/sources/zuul/deployments/summary.py
  tripleo/insights/io.py
  tripleo/insights/lookup.py
Labels: Plugins :electric_plug:, Zuul

#436 Return ML2 driver as part of the deployment summary on TripleO library
  tripleo/insights/interpreters.py
  tripleo/insights/io.py
  tripleo/insights/lookup.py
Labels: Plugins :electric_plug:, Zuul

#437 Adding support for --ml2-driver at a Zuul-CI source
  cibyl/plugins/openstack/sources/zuul/deployments/arguments.py
  cibyl/plugins/openstack/sources/zuul/deployments/filtering.py
  cibyl/plugins/openstack/sources/zuul/deployments/generator.py
  cibyl/plugins/openstack/sources/zuul/deployments/summary.py
  tests/cibyl/unit/plugins/openstack/sources/zuul/deployments/test_arguments.py
  tests/cibyl/unit/plugins/openstack/sources/zuul/deployments/test_filtering.py
Labels: Plugins :electric_plug:, Zuul
