Repository RedHatCRE/cibyl, pull requests merged in 2022-04, with the labels that each got.

#130 Update last_level in run_query iff the query is run
  cibyl/orchestrator.py
Labels: bug, Core

#131 Handle edge cases fo the topology regex in jenkins
  cibyl/sources/jenkins.py
Labels: Improvement

#132 Add Test model to CI models
  cibyl/models/ci/build.py
  cibyl/models/ci/test.py
  docs/source/models/core.rst
  tests/unit/models/test_build.py
  tests/unit/models/test_job.py
  tests/unit/models/test_test.py
Labels: Core, Models

#120 Introduce speed index mechanism
  cibyl/cli/main.py
  cibyl/exceptions/source.py
  cibyl/orchestrator.py
  cibyl/sources/elasticsearch/api.py
  cibyl/sources/jenkins.py
  cibyl/sources/jenkins_job_builder.py
  cibyl/sources/source.py
  cibyl/sources/zuul/source.py
  cibyl/utils/logger.py
  tests/unit/sources/test_sources.py
  tests/unit/test_orchestrator.py
Labels: Core

#145 Create all arguments of a group at the same level
  cibyl/orchestrator.py
Labels: Core, Improvement

#150 Consider both short and long form of --config
  cibyl/cli/main.py
Labels: bug

#151 More robust job filtering in jenkins source
  cibyl/sources/jenkins.py
  tests/unit/sources/test_jenkins.py
Labels: bug

#157 Add information on sources for developers
  docs/source/development/sources.rst
  docs/source/index.rst
Labels: Docs

#165 Update documentation
  README.rst
  docs/source/bootstrap.rst
  docs/source/index.rst
  docs/source/installation.rst
  docs/source/plugins/openstack.rst
  docs/source/sources.rst
Labels: Docs

#164 Support querying multiple sources
  cibyl/exceptions/__init__.py
  cibyl/exceptions/elasticsearch.py
  cibyl/exceptions/jenkins.py
  cibyl/exceptions/jenkins_job_builder.py
  cibyl/exceptions/source.py
  cibyl/orchestrator.py
  cibyl/sources/jenkins.py
  cibyl/sources/source.py
  cibyl/sources/zuul/api.py
Labels: Core, Improvement

#172 Print env information if one system has no sources
  cibyl/orchestrator.py
Labels: bug, Core

#173 Deprecate --build-id and --test-name arguments
  cibyl/models/ci/build.py
  cibyl/models/ci/test.py
  cibyl/sources/elasticsearch/api.py
  cibyl/sources/jenkins.py
  cibyl/sources/zuul/source.py
  docs/source/sources.rst
  tests/unit/sources/test_jenkins.py
  tests/unit/sources/zuul/test_source.py
Labels: Core, Models

#174 Fix bug in release version in jenkins source
  cibyl/sources/jenkins.py
  cibyl/utils/filtering.py
Labels: bug

#177 Add queried attribute to improve system printing
  cibyl/models/ci/printers/colored.py
  cibyl/models/ci/system.py
  cibyl/orchestrator.py
  tests/unit/models/test_system.py
Labels: bug :bug:, Core, Models

#179 Allow disabling systems in configuration file
  cibyl/cli/validator.py
  cibyl/exceptions/model.py
  cibyl/models/ci/environment.py
  cibyl/models/ci/system.py
  cibyl/orchestrator.py
  tests/unit/cli/test_validator.py
Labels: Core, Improvement, Models

#178 Add Git Source
  cibyl/exceptions/git.py
  cibyl/sources/git.py
  cibyl/sources/jenkins_job_builder.py
  cibyl/sources/source.py
  requirements.txt
Labels: Sources :mag:

#180 Add Container and Package models to Openstack
  cibyl/plugins/openstack/container.py
  cibyl/plugins/openstack/deployment.py
  cibyl/plugins/openstack/node.py
  cibyl/plugins/openstack/package.py
  cibyl/plugins/openstack/printers/colored.py
  docs/source/plugins/openstack.rst
  tests/unit/models/printers/test_raw.py
  tests/unit/models/test_system.py
  tests/unit/plugins/openstack/printers/test_raw.py
  tests/unit/plugins/openstack/test_container.py
  tests/unit/plugins/openstack/test_deployment.py
  tests/unit/plugins/openstack/test_node.py
  tests/unit/plugins/openstack/test_package.py
  tests/unit/plugins/openstack/test_service.py
Labels: Models, Plugins

#187 Use logs for deployment information in Jenkins
  cibyl/sources/jenkins.py
  cibyl/utils/filtering.py
  tests/unit/sources/test_jenkins.py
Labels: Sources :mag:

#188 Set the System API outside systems constructors
  cibyl/models/ci/system.py
  cibyl/orchestrator.py
  tests/intr/models/ci/test_system.py
  tests/unit/test_orchestrator.py
Labels: Core, Models

#191 Fix missing openstack cli after System API changes
  cibyl/cli/main.py
  tests/intr/cli/__init__.py
  tests/intr/cli/test_openstack_plugin.py
Labels: bug :bug:, Core
